@{
    Layout = "";
}
<p>This tax service requires no configuration. It is only for use by small business that have a single tax nexus in 
    Washington State.</p>
<p>This tax service does not currently assign sales tax by category. The workaround is to manually set products
    to untaxed.</p>